.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5px 0;
  background-color: var(--dark-gray);

  &__logo {
    img {
      width: 100px;
    }

    height: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__developers {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    &-title {
      color: #fff;
      margin-right: 40px;
    }

    &-name {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #9ca5b5;
      transition: all 0.2s linear;

      &:hover {
        color: #fff;
      }
    }
  }
}
